@charset "utf-8";

.articleWrap {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    height: calc(100vh - 250px);
    overflow-y: auto;
}

.boardName {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 5px;
}

.articleTitle {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    width: 100%;
    display: block;
}

.articleDateViews {
    width: 100%;
    display: block;
    color: #aaa;
    font-size: 14px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}
.articleDate {
    display: inline-block;
}
.articleViews {
    float: right;
}
.articleContent {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    min-height: 400px;
}
.articleComment {
    width: 100%;
}

.articleBtn {
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
}
.mdfBtn, .delBtn {
    border: 0;
    background-color: initial;
    cursor: pointer;
    color: #333;
}
.mdfBtn {
    margin-right: 10px;
}
.delBtn {
    margin-left: 10px;
}
.btnLine {
    width: 1px;
    height: 14px;
    background-color: #ccc;
    display: inline-block;
    vertical-align: middle;
}